/* General Responsive Styles */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  /* Header Responsive */
  header nav ul {
    display: flex;
    justify-content: center;
  }
  
  .burger {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    /* Hide H1 and P from Header */
    header h1,
    header p {
      display: none;
    }
  /* logo */
.logo {
    display: block;
}
.nav-header {
    justify-content: space-around;
}

    /* Adjust Navigation */
    header nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 0;
      top: 100%; /* Align menu below the header */
      width: 100%;
      background: rgba(51, 51, 51, 0.9); /* Semi-transparent background */
      z-index: 1000;
    }
  
    header nav ul.show {
      display: flex;
    }
  
    .burger {
      display: block;
    }
  
    header nav ul li {
      text-align: center;
      margin: 1rem 0;
    }
  }
  
  /* Contact Form Responsive */
  @media (max-width: 768px) {
    #contact form {
      width: 100%;
      padding: 1rem;
    }
  
    #contact input, 
    #contact textarea {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  
    #contact button {
      font-size: 1rem;
      padding: 0.5rem;
    }
  }
  
  /* Projects Section Responsive */
  @media (max-width: 768px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  